## Measures of Dispersion

In [5]:
## Variance

ages_lst = [23,43,23,56,74,32,68,98,45,32]

In [11]:
import numpy as np

In [7]:
mean = np.mean(ages_lst)

In [8]:
mean

49.4

In [10]:
var = np.var(ages_lst)
var

541.64

In [12]:
Std = np.std(ages_lst)
Std

23.273160507331188

In [14]:
import pandas as pd

In [13]:
data = [[10,13,14], [12,12,43], [10,35,70]]

In [16]:
data_1 = pd.DataFrame(data)
data_1

    0   1   2
0  10  13  14
1  12  12  43
2  10  35  70

In [17]:
data_1 = pd.DataFrame(data, columns=["A","B","C"])
data_1

    A   B   C
0  10  13  14
1  12  12  43
2  10  35  70

In [18]:
data_1.var()

A      1.333333
B    169.000000
C    784.333333
dtype: float64

In [20]:
## rowwise
data_1.var(axis=1)

0      4.333333
1    320.333333
2    908.333333
dtype: float64

In [21]:
## column wise
data_1.var(axis=0)

A      1.333333
B    169.000000
C    784.333333
dtype: float64

In [22]:
data_1.var()

A      1.333333
B    169.000000
C    784.333333
dtype: float64